.gpaContent{  /*== homeContent*/
  padding-top: 85px;
}

.intro h2{
  text-align: center;
  font-family: monospace;
  font-weight:900;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.tableResponsive{
  overflow-x:auto;
  margin: auto;
  width: 100%;
  margin-bottom: 16px;
}
.intro table{
  border-collapse: collapse;
  font-family: monospace;
  font-size: 1.28em;
  width:85%;
  margin: auto;
}

.intro thead{
  background-color: #262729;
  color: white;
}

.intro thead th{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.intro tbody tr:hover{
  background-color: grey;
  color:white;

}
 .intro td {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 15px;
 }


 .grade{
   font-family: monospace;
   font-size: 1.5em;

   border: 1px #262729 solid;
   margin-bottom: 30px;

   display: flex;
   flex-direction: column;

 }


.schoolTerm{
  background: #262729;
  color: white;

  margin-bottom: 8px;
}
.schoolTerm p{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.userInput, label{
  padding-left: 28px;
}
.userInput{
  margin-bottom: 8px;
}

#creditLast{
  margin-bottom: 30px;
}

form {
  width:95%;
  margin: auto;
  padding-bottom: 20px;
}
label{
  margin-right: 30px;
}
select{
  background-color: white;

  width: 82%;
  height: 30px;
}
input{
  width: 80%;
  height: 30px;
}
select, input{
  padding-left: 5px;
}
button{
  margin: auto;
  width:45%;
  height: 30px;


  background-color: white;
  color: black;


  font-family: monospace;


  border: 1px black solid;

  cursor: pointer;
}

button:hover{
  color: white;
  background-color: black;
  transition: all 0.5s ease-in-out;
}
