.cartItemName, .cartItemPrice, .cartItemNum, .removeButton, .cartTotal{
  font-family: shopFont2;
}

.cartItemDes{
  display: flex;

}
.cartItemBuyingInfo{
  display: flex;
}
.cartItemPic img{
  height:100px;
  width:100px;
  display: block;
}


/*Nav / footer*/
.sideNav ul li{
  font-family: shopFont2;
}
.homeFooter p{
  font-family: shopFont2;
}
.copyright{
  font-family: shopFont2;
}

/*Nav / footer*/
.workContent{  /*== homeContent*/
  padding-top: 50px;
}




.banner{
  position: relative;
  overflow: hidden;
  z-index: -1000;
}
.banner img{
  display: block;
  width: 100%;
  height: 400px;

}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-top: 0px;
  background-color: #262729;
  opacity: 0.8;
}
.banner h2{
  text-align: center;
  font-family: shopFont2;
  font-weight:500;
  font-size: 3.9em;
  color:white;

  position: absolute;
  left:0%;
  top:40%;
  width: 100%;
}

/*Tabs*/
.sellingItems{
  text-align: center;
  margin-top: 15px;
}
.tabButton{
  background-color: white ;
  border: none;
  border-bottom: 1px solid #000066;
  font-family: shopFont2;
  font-size:1.2em;
  font-weight: 500;

  cursor: pointer;
  text-decoration: none;

}
.tabButton:nth-child(1){
  margin-right: 10px;
}
.tabButton:nth-child(2){
  margin-left: 10px;
}
.tabButton:hover{
  border: 0px;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0% 100%;
  background-repeat: repeat-x;

  background-size: auto 6px;
}
/*Tabs*/


/*Pages*/

.subPage h3{
  text-align: center;
  width: 100%;

  margin-top: 50px;
  font-family: shopFont2;
  font-weight: 500;
  font-size: 3em;
}
.shopItems{
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.shopItem{
  background-color: rgba(230, 231, 232, 0.24);
  margin-bottom: 10px;
  width: 100%;

  text-align: center;

  padding-top: 75px;
  padding-bottom: 75px;
}
.itemName{
  font-family: shopFont2;
  font-size: 2em;

  display: block;
  margin-bottom: 5px;
}
.shopItem img{
  display: block;
  border: 1px black solid;
  margin:  auto;
}
.itemPrice{
  font-family: shopFont2;
  margin-left: 5px;
  margin-top: 5.5px;
  padding-top: 4px;

  font-size: 1.2em;
}
.addToCart{
  font-family: shopFont2;
  background-color: rgba(230, 231, 232, 0.24);
  border:none;
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;

  font-size: 1.2em;
}
.addToCart:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}

.shopItemDetails{
  display: flex;
  justify-content: space-between;
  width:300px;


  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
button{
  cursor: pointer;
}
/*Pages*/

/*SubPages*/
.sellingTools{   /*Making the first visible only*/
  display: none;
}


.goToShoppingCart{
  font-family: shopFont2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 2em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.goToShoppingCart:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}


.shoppingCart{
  display: none;
}
.goBack{
  font-family: shopFont2;
  margin-top: 8px;
  margin-left: 8px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 1.5em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  display: none;
}
.goBack:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}


.shoppingCart h3{
  text-align: center;
  width: 100%;

  margin-top: 50px;
  font-family: shopFont2;
  font-weight: 500;
  font-size: 3em;
}
.checkout{
  font-family: shopFont2;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 2em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  display: none;
}
.checkout:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}



/*SubPages*/
.empty{
  margin-top: 800px;
}

@media only screen and (min-width: 1000px){
  .workContent{
    display: block !important;
    padding-top: 0px;
  }
  .banner{
    z-index: 0;
  }

  .banner h2{
    font-size: 6em;
  }

  .tabButton{
    font-size: 1.8em;

  }

  .subPage h3{
    font-size: 3.7em;

  }
  .shopItems{
    flex-direction: row;
  }

  .item1{
    margin-right: 5px;
  }
  .item2{
    margin-left: 5px;
  }

}
