.messageContent{  /*== homeContent*/
  padding-top: 85px;
}


.messageBody h2{
  text-align: center;
  font-family: monospace;
  font-weight:900;
  font-size: 2.5em;
  margin-bottom: 40px;
}
.messageBody{
  margin-bottom: 40px;
}
.message{
  margin: auto;
  width:90%;
}
.message label{
        display:block;
        font-family: monospace;
        font-size: 15px;
}
.message input[type="text"],input[type="email"],.message textarea{
      margin:8px 0px;
      width:90%;
      padding:10px;
}

.submit{
    border:black 2px solid;
    padding: 8px 20px;
    background-color: white;
    color:black;

    font-size: 20px;
    font-family: monospace;
    transition: all 0.3s ease-in-out;

}
.submit:hover{
    background-color: black;
    color:white;
}

.nameFF, .nameLF, .emailF, .messageF{
  margin-bottom: 15px;
}

.center{
  text-align: center;
  margin-bottom: 100px;
}

body{
  height:100%;
}
.extraSpace{
  height: 100%;
  background-color: #262729;
}
